snippet str "string" b
"$1": "$2",$0
endsnippet

snippet num "number" b
"$1": $2,$0
endsnippet

snippet arr "array" b
[
	${VISUAL}$0
],
endsnippet

snippet obj "object" b
{
	${VISUAL}$0
},
endsnippet
